<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Cave.Extensions" publicKeyToken="65480c9a544d67e6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7.0" newVersion="1.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cave.IO" publicKeyToken="9c6246ce3e4f0673" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.6.0" newVersion="1.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cave.Collections" publicKeyToken="a388ee7965934a9d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.1.1" newVersion="1.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cave.Platform" publicKeyToken="3cb6f3161bcbd059" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.0" newVersion="1.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cave.AssemblyVersionInfo" publicKeyToken="6d14267e89a7f972" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.0" newVersion="1.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cave.Compression" publicKeyToken="81fb9a2cd82ecf81" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.0" newVersion="1.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cave.Media" publicKeyToken="53edfbdc2021850f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7.0" newVersion="1.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cave.Net" publicKeyToken="d530057a0be928c0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.9.0" newVersion="1.0.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>